# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
MPASdiag/
csv/
plots/
tests/testdata/data/output
tests/testdata/data/debug
tests/testdata/data/masks

*.egg-info/
*.egg

# Virtual environments
.venv/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# pytest
.pytest_cache/

# ruff
.ruff_cache/
